:root {
  --sie-deep-blue: #000028;
  --sie-petrol: #009999;
  --sie-light-petrol: #00C1B6;
  --sie-bold-green: #00FFB9;
  --sie-turquoise-100: #85E9D2;
  --sie-turquoise-200: #47E2BB;
  --sie-turquoise-400: #00D7A0;
  --sie-turquoise-500: #0DA58E;
  --sie-turquoise-700: #1A747D;
  --sie-turquoise-900: #005159;
  --sie-royal-blue-100: #B2E0FF;
  --sie-royal-blue-200: #97C7FF;
  --sie-royal-blue-400: #6895F6;
  --sie-royal-blue-500: #3664C6;
  --sie-royal-blue-700: #00237A;
  --sie-royal-blue-900: #00004A;
  --sie-blue-100: #CCF2F8;
  --sie-blue-200: #80DFED;
  --sie-blue-400: #4DD1E7;
  --sie-blue-500: #00BEDC;
  --sie-blue-700: #0087BE;
  --sie-blue-900: #00557C;
  --sie-coral-100: #CCF5F5;
  --sie-coral-200: #66E0E0;
  --sie-coral-400: #00CCCC;
  --sie-coral-500: #00A3AB;
  --sie-coral-700: #007082;
  --sie-coral-900: #002949;
  --sie-green-100: #CCF7DE;
  --sie-green-200: #80EBAC;
  --sie-green-400: #01D65A;
  --sie-green-500: #00A327;
  --sie-green-700: #00890E;
  --sie-green-900: #005700;
  --sie-plum-100: #FFBEDA;
  --sie-plum-200: #FF98C4;
  --sie-plum-400: #E5659B;
  --sie-plum-500: #C04774;
  --sie-plum-700: #9F1853;
  --sie-plum-900: #4F153D;
  --sie-purple-100: #D2CBFF;
  --sie-purple-200: #BFB0F3;
  --sie-purple-400: #A68DFF;
  --sie-purple-500: #805CFF;
  --sie-purple-700: #7353E5;
  --sie-purple-900: #553BA3;
  --sie-orchid-100: #EDD6F2;
  --sie-orchid-200: #D399DD;
  --sie-orchid-400: #B95CC9;
  --sie-orchid-500: #A733BC;
  --sie-orchid-700: #740089;
  --sie-orchid-900: #52245C;
  --sie-orange-100: #FFDEB2;
  --sie-orange-200: #FFBC66;
  --sie-orange-400: #FF9000;
  --sie-orange-500: #E57700;
  --sie-orange-700: #BE5925;
  --sie-orange-900: #801100;
  --sie-yellow-100: #FFF7D6;
  --sie-yellow-200: #FFE784;
  --sie-yellow-400: #FFD732;
  --sie-yellow-500: #E5BD19;
  --sie-yellow-700: #B28A00;
  --sie-yellow-900: #805800;
  --sie-red-100: #FCCCD7;
  --sie-red-200: #FFA8B3;
  --sie-red-400: #FF6779;
  --sie-red-500: #FF2640;
  --sie-red-700: #D72339;
  --sie-red-900: #990000;
  --sie-deep-blue-100: #E5E5E9;
  --sie-deep-blue-200: #CCCCD4;
  --sie-deep-blue-400: #9999A9;
  --sie-deep-blue-500: #7D8099;
  --sie-deep-blue-700: #4C4C68;
  --sie-deep-blue-900: #262648;
  --sie-sand-100: #EFEFEC;
  --sie-sand-200: #DFDFD9;
  --sie-sand-400: #C5C5B8;
  --sie-sand-500: #AAAA96;
  --sie-sand-700: #757563;
  --sie-sand-900: #5E5E4A;
  --sie-deep-blue-80: #333353;
  --sie-deep-blue-60: #66667E;
  --sie-deep-blue-40: #9999A9;
  --sie-font: Arial, Helvetica, sans-serif;
}
.sie-dark { background: var(--sie-deep-blue); color: #fff; --sie-accent: var(--sie-light-petrol); }
.sie-light { background: var(--sie-sand-100); color: var(--sie-deep-blue); --sie-accent: var(--sie-petrol); }
